th {
  text-align: start;
  border-bottom:"solid 1px black" !important
}
td {
  font-size: 1.15rem;
}

a {
  color: #747373;
  text-decoration: none;
}
td{
  margin-top: 20px;
}

table {
  border-spacing: 0 10px; 
}
thead {
  margin-bottom: 10px; 
}
